# (실습) 리스트와 튜플

**참고 사항**

먼저
[리스트와 튜플](https://codingalzi.github.io/pybook/lists_tuples.html)의 내용과
[(필수 예제) 리스트와 튜플](https://colab.research.google.com/github/codingalzi/pybook/blob/master/examples/examples-lists_tuples.ipynb)의 예제들을 학습하세요.

**주의 사항**

* 기존에 작성된 코드 셀과 텍스트 셀은 수정하지 않는다.
* 필요한 경우 코드 셀 또는 텍스트 셀을 추가해서 사용한다.
* 실습 파일을 제출할 때 구글 드라이브의 링크를 이용하여 누구나 공유할 수 있도록 설정한다.

## 문제 1

4중으로 중첩된 리스트를 아래와 같이 선언한다.

In [30]:
a_nested_list = [0, [1, [2, [3, 4], 5]], 6, [7, 8, 9], 10]

**질문 1**

위 리스트에서 `7`을 확인하는 인덱싱 표현식을 정의하라.

In [31]:
a_nested_list[3][0]

7

**질문 2**

위 리스트에서 `[2, [3, 4], 5]`를 확인하는 인덱싱 표현식을 정의하라.

In [32]:
a_nested_list[1][1]

[2, [3, 4], 5]

**질문 3**

위 리스트에서 4를 확인하는 인덱싱 표현식을 정의하라.

In [33]:
a_nested_list[1][1][1][1]

4

## 문제 2

0부터 10까지의 수 중에서 3의 배수를 제외한 항목으로 이루어진 리스트를
생성하도록 아래 코드를 완성하라.
즉, `list10` 변수는 최종적으로 아래 값을 가리켜야 한다.

```python
[1, 2, 4, 5, 7, 8, 10]
```

단, `for` 반복문과 `continue` 명령문을 활용한다.

In [34]:
list10 = []

for num in range(0, 11):
    if num % 3 == 0:
        continue

    list10.append(num)

print(list10)

[1, 2, 4, 5, 7, 8, 10]

## 문제 3

아래 리스트가 주어졌다.

    ['dog', 'cat']

위 리스트에 아래 리스트를 마지막 항목으로 추가한 새로운 리스트를 생성하라.

    ['tiger', 'eagle']

생성된 리스트는 아래 모양이어야 한다.

    ['dog', 'cat', ['tiger', 'eagle']]

단, 리스트의 메서드만 활용해야 한다.

**답**

In [35]:
animal = ['dog', 'cat']
animal.append(['tiger', 'eagle'])

print(animal)

['dog', 'cat', ['tiger', 'eagle']]

## 문제 4

영어 단어 인자와 함께 호출되면 알파벳순으로 정렬된 문자열을 반환하는 `abc()` 함수를 구현하라.
예를 들어 다음과 같이 작동해야 한다.

```
>>> abc('dog')
'dgo'
```

힌트: 리스트 정렬

In [36]:
def abc(s) :
    list_s = list(s)
    return "".join(sorted(list_s))

In [37]:
abc('annyeong haseyo')

' aaeeghnnnoosyy'

## 문제 5

메뉴와 가격이 공백으로 구분된 두 개의 문자열로 주어졌다.

In [38]:
menu = "ham bread chicken egg"
prices = "1200 5000 17000 500"

가장 저렴한 메뉴와 가장 비싼 메뉴를 추천하는 문자열을
다음과 같이 출력하는 프로그램을 구현하라.

```python
가장 저렴한 메뉴: egg  
가장 비  싼 메뉴: chicken  
```

힌트: 문자열 `split()` 메서드와 `zip()` 함수, 리스트 `sort()` 메서드 활용

In [39]:
menu_list = menu.split()
prices_list = prices.split()

menu_prices = list(zip(menu_list, prices_list))
menu_prices.sort(key=lambda x: int(x[1]))

print(f"가장 저렴한 메뉴: {menu_prices[0][0]}")
print(f"가장 비  싼 메뉴: {menu_prices[-1][0]}")

가장 저렴한 메뉴: egg
가장 비  싼 메뉴: chicken

## 문제 6

6명의 정보가 다음과 같다.

In [40]:
kgh = ['김강현', '010-1234-5678', 20, 172.3, '제주']
whang = ['황현', '02-9871-1234', 19, 163.5, '서울']
namgung = ['남세원', '010-3456-7891', 21, 156.7, '경기']
choihs = ['최흥선', '070-4321-1111', 21, 187.2, '부산']
sjkim = ['김현선', '010-3333-8888', 22, 164.6, '광주']
ja = ['함중아', '010-7654-2345', 18, 178.3, '강원']

6명의 정보를 하나의 리스트로 묶는다.

In [41]:
info_list = [kgh, whang, namgung, choihs, sjkim, ja]
info_list

[['김강현', '010-1234-5678', 20, 172.3, '제주'],
 ['황현', '02-9871-1234', 19, 163.5, '서울'],
 ['남세원', '010-3456-7891', 21, 156.7, '경기'],
 ['최흥선', '070-4321-1111', 21, 187.2, '부산'],
 ['김현선', '010-3333-8888', 22, 164.6, '광주'],
 ['함중아', '010-7654-2345', 18, 178.3, '강원']]

**질문 1**

`info_list`를 이름 순으로 정렬하라.

힌트: `sort()` 메서드 활용

In [42]:
info_list.sort()
info_list

[['김강현', '010-1234-5678', 20, 172.3, '제주'],
 ['김현선', '010-3333-8888', 22, 164.6, '광주'],
 ['남세원', '010-3456-7891', 21, 156.7, '경기'],
 ['최흥선', '070-4321-1111', 21, 187.2, '부산'],
 ['함중아', '010-7654-2345', 18, 178.3, '강원'],
 ['황현', '02-9871-1234', 19, 163.5, '서울']]

**질문 2**

추가로 6명의 몸무게로 구성된 리스트를 가리키는 `weights` 변수를 선언한다.

In [43]:
weights = [65.3, 51.5, 48.0, 81.4, 53.8, 90.1]

6명의 키와 몸무게 정보를 이용하여 계산된 6명의 비만도로 구성된 리스트를 생성하라.
체질량지수(bmi)는 몸무게(kg)를 키(m)의 제곱으로 나눈 값이다.

$$
\mathrm{bmi} = \frac{\mathrm{몸무게}}{\mathrm{키}^2}
$$

**질문 3**

`info_list`에 6명 각각의 체질량 지수를 추가하라.

In [44]:
for i in range(len(info_list)):
    weight_bmi = [weights[i], bmis[i]] # i번째 사람의 몸무게와 체질량지수
    info_list[i].extend(weight_bmi)    # i번째 사람의 정보 확장

info_list

[['김강현', '010-1234-5678', 20, 172.3, '제주', 65.3, 21.99594506605352],
 ['김현선', '010-3333-8888', 22, 164.6, '광주', 51.5, 19.008487751151954],
 ['남세원', '010-3456-7891', 21, 156.7, '경기', 48.0, 19.548041143739596],
 ['최흥선', '070-4321-1111', 21, 187.2, '부산', 81.4, 23.22804806779166],
 ['함중아', '010-7654-2345', 18, 178.3, '강원', 53.8, 16.92308708563994],
 ['황현', '02-9871-1234', 19, 163.5, '서울', 90.1, 33.704607730363136]]

## 문제 7

직사각형 모양의 바닥에 정사각형 모양의 타일을 깔아야 한다.
타일은 온장을 그대로 사용할 수도 있고, 잘라서 일부분만 사용할 수도 있다.
단, 잘라서 사용한 타일의 나머지는 사용하지 않는다.

공간의 가로, 세로 크기, 타일의 크기를 cm 단위로 인자로 사용되었을 때
타일을 깔 때 필요한 온장 타일과 잘라서 사용한 타일의 개수로
이뤄진 튜플을 반환하는 함수 `tiling_tuple()`을 구현하라.
단 공간 크기의 가로, 세로, 타일의 크기는 정수라고 가정한다.

`tiling()` 함수의 매개변수는 다음과 같이 한다.

- `width`: 공간의 가로 크기. 단위는 cm.
- `height`: 공간의 세로 크기. 단위는 cm.
- `tile_length=30`: 타일의 한 변의 크기. 단위는 cm. 기본 키워드 인자는 30.

In [47]:
def tiling_tuple(width, height, tile_length=30):
    num_full_width = width // tile_length
    num_full_height = height // tile_length

    num_full = num_full_width * num_full_height

    if width % tile_length == 0:
        num_part_height = 0
        if height % tile_length == 0:
            num_part = 0
        else:
            num_part = num_full_width

    else:
        if height % tile_length == 0:
            num_part = num_full_height
        else:
            num_part = num_full_width + num_full_height + 1

    return num_full, num_part

아래 코드가 오류 없이 실행되어야 한다.

In [48]:
assert tiling_tuple(400, 400) == (169, 27)
assert tiling_tuple(400, 400, 35) == (121, 23)